[Desktop Entry]
Type=Application
Name=Bioprintly
Icon=printer
Exec=sh -c 'python3 ~/printer_data/scripts/bioprintly/main.py 2>&1 >> ~/.bioprintly/main.log'
Categories=Network
Terminal=false
